.main-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 36px;
}
.items-container{
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}
.cart-container{
    background-color: white;
    box-shadow: 8px 8px 12px gray;
    position: sticky;
    top: 0;
}
@media screen and (max-width: 570px) {
    .items-container{
        display: grid;
        grid-template-columns: repeat(1,100%);
    }
    .main-container{
        display: block;
    }
    .items-container{
        margin: 0 auto;
    }
}