.header{
    background-color: rgba(0, 0, 0, 0.781);
    height: 90px;
    
}
.header-name h1{
    font-size: 2rem;
    font-weight: 500;
}
.header div{
    margin: 0 auto;
}
.icon{
    color: rgba(0, 255, 255, 0.582);
}
.header-link a{
    color: white;
    text-decoration: none;
    margin-left: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    transition: all 0.5s;
    font-weight: 600;
}
.header-link a:hover{
    background-color: rgba(0, 0, 0, 0.272);
    border-radius: 12px;
    color: yellow;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.568);
}
/* .header img{
    width: 70px;
    height: 60px;
    margin-right: 10px;
} */

@media screen and (max-width: 560px) {
    .header h1{
        margin-top: 25px;
    }    
    .header p{
        margin-top: 25px;
    }
}