.timer p{
    background-color: white;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 100%;
}
.timer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}